<div class="list">
    <span class="listTitle">Continue to watch</span>
    <div class="wrapper">
        <mat-icon aria-hidden="false" fontIcon="arrow_back" (click)="handleClick('left')"
            class="sliderArrow left"></mat-icon>
        <div class="container" #listRef>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
            <app-list-item> </app-list-item>
        </div>
        <mat-icon aria-hidden="false" fontIcon="arrow_forward" (click)="handleClick('right')"
            class="sliderArrow right"></mat-icon>
    </div>
</div>