<div  [ngClass]="{'navbar': true, 'scrolled': isScrolled}">
    <div class="container">
        <div class="left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/2560px-Netflix_2015_logo.svg.png"
                alt="" />
            <span>Homepage</span>
            <span>Series</span>
            <span>Movies</span>
            <span>New and Popular</span>
            <span>My List</span>
        </div>
        <div class="right">
           
            <mat-icon aria-hidden="false" fontIcon="search" class="icon"></mat-icon>
            <span>KID</span>
          
            <mat-icon aria-hidden="false" fontIcon="notifications" class="icon"></mat-icon>
            <img src="https://images.pexels.com/photos/6899260/pexels-photo-6899260.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" />
            <div class="profile">
                
                <mat-icon aria-hidden="false" fontIcon="home" class="ArrowDropDown" class="icon"></mat-icon>
                <div class="options">
                    <span>Settings</span>
                    <span>Logout</span>
                </div>
            </div>
        </div>
    </div>
</div>